@font-face{
	font-family: chalk;
    src: url(../chalk.ttf);
}

/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    list-style: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}
html {
    line-height:1;
    background: url('../img/Misc/phonebg.jpg') no-repeat;
    background-size: 100% 100%;
    height: 100%;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

header {
	text-align: center;
	width: 100%;
	background: black;
	color:white;
}
footer{
	background:black;
	text-align: center;
	color: white;
	padding: 8px;
	position: fixed;
	bottom: 0;
	width: 100%;
}
small{
	font-size: 0.7em;
	line-height: 0.7em;
}
/***General******/
.mainWrapper{
	padding:15px;
	margin-top:10%;
}

#categoryBox ul li{
	display: inline-block;
	width: 30%;
	margin-right: 4%;
	background: lightblue;
	text-align: center;
}

#questionBox ,#answerBox{
	margin-top: 20px;
	display: flex;
	display: -webkit-flex;
}
#questionBox{
	position: relative;
	background: no-repeat;
	background-size: 100% 100%;
	border:5px solid white;
}
#questionBox p{
	color: #F5F5F5;
	font-family: chalk;
	font-size: 2em;
	opacity: 0.8;
	margin: 2% 4%;
}
#answerBox{
	width: 90%;
	margin: 5% auto;
}
key {
	position: absolute;
	background: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}
note {
	background-size: 100% 100%;
	position: absolute;
	width: 9%;
	height: 30%;
	top:18.6%;
	left:20%;
	z-index:10;
}
accidential {
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: absolute;
}
.extraline{
	position: absolute;
	width: 11%;
	height: 20%;
	background: url('../img/Misc/line.png') no-repeat;
	background-size: 100% 100%;
}
answer{
	display: inline-block;
	background: no-repeat;
	background-size: 100% 100%;
	width: 20%;
	margin-right: 4.5%;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
}
answer:last-child{
	margin-right: 0;
	float: right;
}
#respondBox *{
	position: absolute;
}
respond{
	background-size: 100% 100%;
	top:56%;
	left:14%;
	width: 30%;
	height:8%;
}
#setting{
	background: url('../img/Misc/setting.png');
	background-size: 100% 100%;
	width: 27%;
	height:8%;
	top:77%;
	left:68%;
	cursor: pointer;
	z-index: 500;
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
}
#nextQuestion{
	background: url('../img/Misc/nextText.png');
	background-size: 100% 100%;
	width: 24%;
	height:7%;
	top:56%;
	left:62%;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
}
.customBounce{
	-webkit-animation-duration: 6s;
  	animation-duration: 6s;
 	-webkit-animation-name: cBounce;
  	animation-name: cBounce;
  	-webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
	animation-iteration-count: infinite;
}

@-webkit-keyframes cBounce {
	0%, 3.3%, 6.6%, 9.9% , 13.2% 16.5% {
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
	-webkit-transform: scale3d(.6, .6, .6);
	        transform: scale3d(.6, .6, .6);
	}
	3.3% {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	        transform: scale3d(1.1, 1.1, 1.1);
	}

	6.6% {
	-webkit-transform: scale3d(.9, .9, .9);
	        transform: scale3d(.9, .9, .9);
	}

	9.9% {

	-webkit-transform: scale3d(1.03, 1.03, 1.03);
	        transform: scale3d(1.03, 1.03, 1.03);
	}

	13.2% {
	-webkit-transform: scale3d(.97, .97, .97);
	        transform: scale3d(.97, .97, .97);
	}

	16.5% {

	-webkit-transform: scale3d(1, 1, 1);
	        transform: scale3d(1, 1, 1);
	}
}

@keyframes cBounce {
	0%, 3.3%, 6.6%, 9.9% , 13.2% 16.5% {
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {

	-webkit-transform: scale3d(.6, .6, .6);
	        transform: scale3d(.6, .6, .6);
	}
	3.3% {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	        transform: scale3d(1.1, 1.1, 1.1);
	}

	6.6% {
	-webkit-transform: scale3d(.9, .9, .9);
	        transform: scale3d(.9, .9, .9);
	}

	9.9% {

	-webkit-transform: scale3d(1.03, 1.03, 1.03);
	        transform: scale3d(1.03, 1.03, 1.03);
	}

	13.2% {
	-webkit-transform: scale3d(.97, .97, .97);
	        transform: scale3d(.97, .97, .97);
	}

	16.5% {

	-webkit-transform: scale3d(1, 1, 1);
	        transform: scale3d(1, 1, 1);
	}
}
#settingBox{
	height: 55vh;
	position: relative;
	font-size: 0.9em;
}
#settingBox h1{
	text-align: center;
	margin-bottom: 5%;
	font-size: 1.5em;
}
#settingBtn{
	position: absolute;
	bottom: 0;
	width: 100%;
}
#settingBtn input{
	display: inline-block;
	cursor: pointer;
	transition:0.5s;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	height: 36px;
	color:gray;
	border: 2px solid gray;
	background: none;
	border-radius: 5px;
	font-size: 0.8em;
}
#settingBtn input:focus{
	outline: 0;
}
#applyBtn{
	width: 38%;
}
#defaultBtn{
	width: 59%;
	margin-right: 1%;
}
#applyBtn:hover{
	color:#63B6FF;
	border: 2px solid #63B6FF;
}
#defaultBtn:hover{
	color:#FFBF29;
	border: 2px solid #FFBF29;
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:20px;
    height:20px;
    border:2px solid black;
    margin-right:10px;
}
input[type="checkbox"]:checked + label span {
	background:url('../img/Misc/chkbox.png');
	background-size: 100% 100%;
}
label{
	vertical-align: top;
}
#settingBox h2{
	margin-top:5px;
}

/******************/
@media only screen and (min-width: 768px) and (orientation: landscape){
	html{
		 background: url('../img/Misc/desktopbg.jpg') no-repeat;
		 background-size: 100% 100%;
	}
	.mainWrapper{
		width: 80%;
		margin: 20px auto 0 auto;
	}
	.leftContent{
		width: 56%;
		margin:12% 0 0 3%;
	}
	#answerBox{
		width: 90%;
		margin:20px auto;
	}
	#questionBox p{
		font-size: 5em;
	}
	answer{
		margin-right: 8%;
		cursor: pointer;
	}
	respond{
		background-size: 100% 100%;
		top:43%;
		left:64%;
		width: 12%;
		height:12%;
	}
	#setting{
		top: 29%;
		left: 70%;
		width: 10%;
		height:10%;
	}

	#nextQuestion{
		top:49%;
		left:86%;
		width: 9%;
		height:11%;
	}
	small{
		font-size: 0.8em;
		line-height: 0.8em;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
	.mainWrapper{
		margin-top:50px;
	}
	#questionBox p{
		font-size: 3em;
	}
	.ngdialog.ngdialog-theme-default{
		padding: 100px 0 100px 0;
	}
	.ngdialog.ngdialog-theme-default .ngdialog-content{
		width: 250px;
		padding:0.8em;
		font-size: 1em;
	}
	#settingBtn input{
		height: 30px;
		border-radius: 3px;
	}
	#settingBox h1{
		font-size: 1.5em;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
	.mainWrapper{
		padding:15px 55px;
	}
	#questionBox p{
		font-size: 5em;
	}
	#answerBox{
		width: 75%;
	}
	answer{
		width: 22%;
	}
	#setting{
		height: 8%;
		width: 20%;
	}
	#nextQuestion{
		width: 15%;
		height: 7%;
		top:62%;
		left: 65%;
	}
	respond{
		width: 20%;
		top:62%;
		left:22%;
	}
}


