<div class='feedback-content'>
	<h1>Feedback</h1>
	<p>Bugs? Suggestions? Or just want to say hi to me?</p>
	<p>All feedbacks are greatly appreciated.</p>
	<form name='feedbackForm'>
		<label>Your name:</label>
		<input type="text" ng-model='Feedback.Name'>
		<label>Email:</label>
		<input type="text" ng-model='Feedback.Email'>
		<label>Message: </label>
		<textarea ng-model='Feedback.Message'></textarea>
		<input type='button' ng-click='submitFeedback()' value='Submit' ng-disabled='feedbackForm.$pristine'>
	</form>
</div>
