<div id="settingBox" ng-controller='settingCtrl'>
	<h1>SETTING</h1>
	<form >
		<h2>Question type:</h2>
		<li><input id='noteType' type='checkbox' ng-model='noteType'><label for='noteType'><span></span>Note</label></li>
		<li><input id='chordType' type='checkbox' ng-model='chordType'><label for='chordType'><span></span>Chord</label></li>
		<li><input id='scaleType' type='checkbox' ng-model='scaleType'><label for='scaleType'><span></span>Scale</label></li>
	<form>
		<h2>Chord setting:</h2>
		<li><input id='chordInversion' type='checkbox' ng-model='inversionChord'><label for='chordInversion'><span></span>Inversion</label></li>
	</form>
	<div id="settingBtn" >
		<input id="defaultBtn" type='button' value='Default' ng-click='defaultSetting()'>
		<input id="applyBtn" type='button' value='Apply' ng-click='applySetting()'>
	</div>
</div>